# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1.Python
2.R 
3.SQL

Some of the commonly used libraries used by Data Scientists include:
1.numpy
2.panda
3.matploylib
4.seaborn

|    Data Science Tools   |
|------------------------ |  
|    Jupyter notebook     |
|     R studio            |
|     github              |
|                         |

###Below are a few examples of evaluating arithmetic expressions in Python
x+y
x-y
X*Y
X/Y

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
List popular languages for Data Science
+ Python
+ R 
+ SQL

## Author
Pritam Bhowmik